<div class= "page-header">
  <div class= "pull-right">
    <%=link_to_if((@ref == "incomplete"), "All", project_tasks_path(@project, type:"all")) %> |
    <%=link_to_if((@ref == "all"), "Incomplete", project_tasks_path(@project, type:"incomplete")) %>
    <%= link_to 'Create Task', new_project_task_path(@project), class:"btn btn-primary" %>
  </div>

  <h1>Tasks</h1>
</div>

<table class = "table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.complete %></td>
        <td>
          <% if task.due_date %>
          <%= task.due_date.strftime("%m/%d/%Y") %>
          <% else nil %>
          <%end%>
        </td>
          <td>
            <div class= "pull-right">
              <%= link_to 'Show', [@project, task], class:"btn btn-success" %>
              <%= link_to 'Edit', edit_project_task_path(@project, task), class:"btn btn-info" %>
              <%= link_to 'Destroy', [@project,task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<br>
